*{
    box-sizing: border-box;
}

.main-body {
  background-color: #eee;
  padding: 10px 50px;
  display: flex;
  justify-content: center;
}

.content-container {
  max-width: 900px;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

li {
  list-style-type: none;
  width: 35%;
  margin: 1%;
  background-color: #fff;
  border-radius: 30px;
}

ul li div h2 {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
}

.desc {
  margin: 10px;
  font-size: 16px;
}

li div ul li {
  list-style-type: square;
  line-height: 2em;
  margin-left: 30px;
  font-size: 14px;
  background-color: transparent;
}

.image {
  margin: 10px;
}

.footer-desc {
  margin: 10px;
  font-size: 12px;
  text-align: center;
}

.image-container {
  padding-left: 10px;
  padding-right: 10px;
}

.highlight {
    color: #85cbc9;
}

.link {
    text-decoration: none;
    color: black;
}
.link:hover {
    text-decoration: underline;
    color: #85cbc9;
}
.message {
    background-color: #fff;
    width: 900px;
    max-width: 100%;
    margin: 20px;
    padding: 30px;
    box-sizing: content-box;
}

.message-container {
    display: flex;
    justify-content: center;
}
.message h2 {
    border-left: 5px solid #85cbc9;
    padding-left: 10px;
    padding-bottom: 10px;
}


/* tablet */
@media (max-width: 778px) {
    .content-container {
        max-width: 900px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
      }
      li {
        list-style-type: none;
        background-color: #fff;
        width: 100%;
      }
      
}
/* mobile */
@media (max-width: 488px) {
}
