
#accord {
    display: flex;
    justify-content: center;
}
#accord .accord {
    width: 640px;
    height: 50px;
    padding: 0;
}
#accord .accord-indiv {
    list-style-type: none;
    
}
#accord .accord-title {
    padding: 10px;
    background-color: #004986;
    color: white;
    text-align: start;
    font-size: 20px;
    font-weight: bold;
}

#accord .accord-desc {
    display: none; 
    padding: 10px 30px;
}

#accord .accord-square{
    width: 30px;
    height: 30px; 
    display: inline-block;
    text-align: center;
    line-height: 30px;
    border: 1px solid;
    margin-right: 10px;

}