*{
    box-sizing: border-box;
}

.main-body {
  background-color: #eee;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
}

.content-container {
  max-width: 900px;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

li {
  list-style-type: none;
  width: 35%;
  margin: 1%;
  background-color: #fff;
}

li div h2 {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
}

.desc {
  margin: 10px;
  font-size: 16px;
}

li div ul li {
  list-style-type: square;
  line-height: 2em;
  margin-left: 30px;
  font-size: 14px;
  background-color: transparent;
}

.image {
  margin: 10px;
}

.footer-desc {
  margin: 10px;
  font-size: 12px;
  text-align: center;
}

.image-container {
  padding-left: 10px;
  padding-right: 10px;
}

/* tablet */
@media (max-width: 778px) {
    .content-container {
        max-width: 900px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
      }
      li {
        list-style-type: none;
        background-color: #fff;
        width: 100%;
      }
      
}
/* mobile */
@media (max-width: 488px) {
}
