.circle {
    background-color: #85cbc9;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}
.circle p {
    color: #fff;
}

.circle::before{
    content: "-";
    background-color: #454545;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    top: -30px;
    left: -20px;
}

